{
  "rules": {
    "quotes": [
      2,
      "single"
    ],
    "linebreak-style": [
      2,
      "unix"
    ],
    "semi": [
      2,
      "always"
    ]
  },
  "env": {
    "browser": true,
    "node": true
  },  
  "globals": {
    "console": true,
    "describe": false,
    "localStorage": false,
    "it": false,
    "expect": false,
    "beforeEach": false,
    "afterEach": false,
    "document": false,
    "jasmine": false
  },
  "no-console": false,
  "extends": "eslint:recommended"
}