$card-content-side-margin: ($card-layout-width - $button-width) / 2;

.mg-card-layout--container {
  height: 490px;
  max-width: 1200px;
  display: inline-block;
  margin: 0 auto;
}

.mg-card-layout {
  width: $card-layout-width;

  h6 {
    line-height: 1.2;
    font-size: 18px;
  }

  p {
    line-height: 1.4;
    font-size: 12px;
    > strong {
      font-weight: 500;
    }
  }
}

.mg-card-layout--banner {
  position: relative;
  text-align: center;
  height: 202px;

  .mg-card-layout--banner-bg {
    position: absolute;
    left: 0;
    top: 0;
  }
}

.mg-card-layout--content {
  z-index: 2;
  position: relative;
  padding-top: 20px;
  padding-bottom: 30px;
  margin: 0 $card-content-side-margin;
}  

