.mg-entry {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: rgb(40,50,56);
  z-index: 9000;
  background: radial-gradient(circle, hsl(203, 16.7%, 18.8%), hsl(203, 16.7%, 17%));

  &.loggedin {
    transform: translateX(-100%);
    transition: .3s;
    transition-delay: .6s;
  }

  .colorshift path, text {
    animation: colorshift 10s infinite;
    font-weight: 500;
    font-size: 14px;
  }

  .mg-logo-svg {
    position: fixed;
    left: 30px;
  }

  .mg-entry--hero {
    position: relative;
    margin: 0 auto;
    max-width: 500px;
    top: 50%;
    transform: translateY(-50%);

    subhead {
      color: #fff;
    }

    svg {
      max-width: 100%;
    }

    .mg-entry--box.loggedin {
      animation: zoomoutgone 1s forwards 1;
    }

    .mg-entry--box-content {
      position: absolute;
      top: 0;
      left: 0;
      right: -3px;
      bottom: 2px;
      margin: 12%;

      &.loggedin {
        transform: scale(0);
        transition: .3s;
      }
    }

    .mg-entry--title {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
    }

    .mg-entry--logins {
      position: absolute;
      bottom: 0;
      left: 0;
      right: 0;
      text-align: center;

      .mg-entry--login {
        position: relative;
        display: inline-block;
        width: 48%;

        .mg-entry--icon {
          position: absolute;
          height: 40%;
        }

        .mg-entry--fb-icon {
          left: 6%;
          bottom: 38%;
        }

        .mg-entry--linkedin-icon {
          left: 5%;
          bottom: 38%;
        }

        .mg-entry--login-text {
          position: absolute;
          text-align: center;
          color: rgb(40,50,56);
          line-height: 1.8;
          bottom: 30%;
          left: 27%;
          right: 5%;
        }
      }
    }
  }

  .mg-entry--wave2 {
    animation: wave 9s infinite ease-in-out;
    position: fixed;
    min-width: 100%;
    left: -2%;
    top: -2%;

    &.loggedin {
      animation: wave 10s infinite ease-in-out, waveout .4s forwards ease-in-out;
    }
  }

  .mg-entry--wave1 {
    animation: wave 10s infinite ease-in-out;
    transform: rotate(0deg) scale(1.2);
    animation-delay: 2s;
    position: fixed;
    min-width: 100%;
    left: -2%;
    top: 0px;

    &.loggedin {
      animation: wave 10s infinite ease-in-out, waveout .4s forwards ease-in-out;
      animation-delay: .2s;
    }
  }

  @keyframes zoomoutgone {
    0% {
      transform: scale(1);
      opacity: 1;
    }
    25% {
      transform: scale(5);
      opacity: 1;
    }
    100% {
      transform: scale(20);
      opacity: 0;
    }
  }

  @keyframes waveout {
    0% {
      transform: scale(1.2) translateY(0);
    }
    50% {
      transform: scale(1.2) translateY(10%);
    }
    100% {
      transform: scale(1.2) translateY(-100%);
    }
  }

  @keyframes colorshift {
    0% {
      fill: $level-one-color;
    }
    33.333% {
      fill: $level-two-color;
    }
    66.666% {
      fill: $level-three-color;
    }
    100% {
      fill: $level-one-color;
    }
  }

  @keyframes wave {
    0% {
      transform: rotate(0deg) scale(1.2) translateX(0px);
    }
    25% {
      transform: rotate(-2deg) scale(1.2) translateX(-3%);
    }
    75% {
      transform: rotate(2deg) scale(1.2) translateX(3%);
    }
    100% {
      transform: rotate(0deg) scale(1.2) translateX(0px);
    }
  }

  .login-facebook, .login-linkedin {
    &:hover .mg-entry--loginbtn *, &:active .mg-entry--loginbtn * {
      fill: #FFF;
      transition: .15s;
      animation: initial;
    }
    .mg-entry--loginbtn * {
      fill: rgba(255,255,255,.25);
    }
  }

  .mg-line {
    margin-bottom: 20px;
  }

  input {
    display: block;
    width: 100%;
    height: 36px;
    padding: 6px 15px;
    font-size: 14px;
    font-weight: 100;
    line-height: 1.57142857;
    color: #76838f;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e4eaec;
    border-radius: 3px;
    box-shadow: none;
    transition: box-shadow .25s linear, border .25s linear, color .25s linear, background-color .25s linear;
  }
}
