$hover-transition: .15s;

.mg-levels {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all $hover-transition;
  width: 100%;
  overflow: hidden;

  h4 {
    font-weight: 500;
    text-align: center;
    margin: 5px;
    padding: 0;
  }

  .mg-level {
    transition: all $hover-transition;
    margin: 15% auto;
    text-align: center;
    border-radius: 1000px;
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    background: #263238;
    color: #37474f;
    user-select: none;
    cursor:default;
    border: 5px double;
    pointer-events: none;

    span {
      position: absolute;
      transform: translateY(-50%) translateX(-50%);
      top: 50%;
      left: 50%;
      font-size: 2em;
      user-select: none;
    }
  }

  .mg-levels--available {
    pointer-events: all;
    cursor: pointer;
  }

  .mg-levels--current {
    transform: scale(2);
  }

  .mg-levels--available:hover {
    transform: scale(1.5);
  }

  .mg-level:nth-of-type(1).mg-levels--current, .mg-level:nth-of-type(1).mg-levels--available:hover {
    background: rgb(123, 76, 255);
  }

  .mg-level:nth-of-type(2).mg-levels--current, .mg-level:nth-of-type(2).mg-levels--available:hover {
    background: rgb(0, 229, 117);
  }

  .mg-level:nth-of-type(3).mg-levels--current, .mg-level:nth-of-type(3).mg-levels--available:hover {
    background: rgb(0, 228, 255);
  }

  .mg-levels--available-path {
    border: hsl(201, 100, 29);
  }
}

@media screen and (max-height: 600px) {
  .mg-levels  {

    .mg-levels--current {
      width: 100px;
      height: 100px;
    }
    
    .mg-level {
      margin: 7% auto;
      width: 50px;
      height: 50px;
    }

    span {
      font-size: 1em;
    }
  }

}