$hover-transition: .15s;

.mg-level {
  transition: all $hover-transition;
  margin: 5% auto;
  text-align: center;
  border-radius: 1000px;
  display: inline-block;
  position: relative;
  width: 60px;
  height: 60px;
  background: #263238;
  color: #37474f;
  user-select: none;
  cursor:default;
  pointer-events: none;
  padding: 0;

  span {
    position: absolute;
    transform: translateY(-50%) translateX(-50%);
    top: 50%;
    left: 50%;
    font-size: 2.5em;
    user-select: none;
  }
}

.mg-levels--available {
  pointer-events: all;
  cursor: pointer;
}

.mg-levels--current {
  margin: 16% auto;
  transform: scale(2);
  box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .75);
}

.mg-levels--available:hover {
  transform: scale(1.5);
  margin: 6% auto;
  box-shadow: 0 3px 5px -2px rgba(0, 0, 0, .75);
}

.mg-levels {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  transition: all $hover-transition;
  width: 100%;

  hr {
    border: solid 0px #263238;
  }

  p {
    margin: 0;
    font-size: 1.2em;
    font-weight: 500;
  }

  &.mg-level--1 {
    h2, h4, p {
      color: $level-one-color;
    }

    p:nth-of-type(3) {
      margin: 2% 0 4% 0;
    }
  }

  &.mg-level--2 {
    h2, h4, p {
      color: $level-two-color;
    }

    p:nth-of-type(2) {
      margin: 2% 0 4% 0;
    }
  }

  &.mg-level--3 {
    h2, h4, p {
      color: $level-three-color;
    }
    p:nth-of-type(1) {
      margin: 2% 0 4% 0;
    }
  }

  .mg-level:nth-of-type(1).mg-levels--current, .mg-level:nth-of-type(1).mg-levels--available:hover {
    color: $level-three-color;
  }

  .mg-level:nth-of-type(2).mg-levels--current, .mg-level:nth-of-type(2).mg-levels--available:hover {
    color: $level-two-color;
  }

  .mg-level:nth-of-type(3).mg-levels--current, .mg-level:nth-of-type(3).mg-levels--available:hover {
    color: $level-one-color;
  }

  .mg-levels--available-path {
    border: hsl(201, 100, 29);
  }
}

@media screen and (max-height: 600px) {
  .mg-levels  {

    .mg-levels--current {
      width: 70px;
      height: 70px;
    }
    
    .mg-level {
      margin: 1% auto;
      width: 40px;
      height: 40px;
      span {
        font-size: 1.8em;
      }
    }
    
    .mg-levels--available:hover {
      transform: scale(1.2);
    }

    .mg-levels--current {
      margin: 8% auto;
      transform: scale(2);
      box-shadow: 0 4px 5px -2px rgba(0, 0, 0, .75);
    }
  }

}