.mg-mobilenav {
  padding-left: 30px;
  background-color: #263238;
  position: fixed;
  display: none;
  top: 0;
  z-index: 100;
  width: 100%;

  .mg-logo {
    float: left;
  }
}

.fade {
  position: fixed;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  z-index: 3;
}

.mg-main--avatar {
  width: 30px;
  position: fixed;
  top: 18px;
  right: 15px;
  z-index: 101;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 1000px;
    border: 2px solid;

    &.level-1 {
      border-color: $level-one-color;
    }

    &.level-2 {
      border-color: $level-two-color;
    }

    &.level-3 {
      border-color: $level-three-color;
    }
  }
}

.mg-main {
  height: 100%;
  margin-left: $sidemenu-width;

  nav {
    background-color: #fff;
    position: fixed;
    padding: 0 50px;
    z-index: 2;
    top: 0;
    right: 0;
    left: $sidemenu-width;
  }

  footer {
    height: 46px;
    padding: 15px 0;
    border-top: 1px solid #e4eaec;
    background-color: #fff;
  }
}

@media screen and (max-width: $collapse-sidemenu-width) {
  .mg-mobilenav {
    display: block;
  }

  .mg-main {
    margin-left: 0;
    transition: .25s ease-out;
    box-shadow: 0 0 134px rgba(0, 0, 0, .8);

    nav {
      visibility: hidden;
    }

    .fade {
      transition: .25s ease-out;
    }
  }

  .mg-main--sidemenu-open {
    transform: scale(.98);
    transition: .25s ease-out;
    pointer-events: none;

    .fade {
      transition: .25s ease-out;
      pointer-events: all;
      display: initial;
      opacity: .15;
    }
  }
}

.mg-levelintro {
  position: absolute;
  color: #000;
  top: 55%;
  left: 50%;
  display: block;
  margin-left: -130px;
  max-width: 300px;
  z-index: 1;
  background: #FFF;
  box-shadow: 0px 10px 15px -5px rgba(0,0,0,.4);
  transition: transform .15s;
  transform: translateY(-50%) scale(0);

  .mg-level {
    position: relative;
    transform: scale(1.8);
    margin: 15% 0 5%;
    color: #FFF;
  }

  .mg-card-layout--banner {
    h3 {
      font-weight: 400;
      margin: 0;
      padding: 0;
      line-height: .6;
    }
  }

  .mg-card-layout--banner-bg {
    z-index: -1;
  }

  &.mg-resultspage-1 {
    h2, h3 {
      color: $level-one-color-dark;
    }
    .mg-level {
      background-color: $level-one-color-dark;
    }
  }

  &.mg-resultspage-2 {
    h2, h3 {
      color: $level-two-color-dark;
    }
    .mg-level {
      background-color: $level-two-color-dark;
    }
  }

  &.mg-resultspage-3 {
    h2, h3 {
      color: $level-three-color-dark;
    }
    .mg-level {
      background-color: $level-three-color-dark;
    }
  }

  &.show {
    transform: translateY(-50%) scale(1);
    transition: transform .15s;
    transition-delay: 1s;
  }

  h2 {
    font-weight: 700;
    font-size: 28px;
    margin: 0;
  }

  h3 {
    font-weight: 300;
    font-size: 21px;
    margin: 11px 0;
  }

  h6 {
    margin: 0;
  }
}

.mg-resultsloading {
  position: absolute;
  left: 50%;
  top: 50%;
  background-color: #444;
  width: 40px;
  height: 40px;
  transition: all 3s;
  border-radius: 10000px;
  transform: scale(0);
  animation: splash .4s 1 forwards;
  animation-timing-function: ease-in-out;
  animation-delay: 1.3s;
  z-index: 1;
}

@keyframes splash {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(100);
  }
}

.mg-play {
  margin: 0 auto;
  display: block;
}

.mg-game-wrapper {
  width: 100%;
  height: 100%;
}

.mg-content {
  position: relative;
  padding-top: $nav-height;
  overflow: auto;
  background-color: #f1f4f5;
  height: calc(100vh - #{$footer-height});
  z-index: 1;
}

.navbar-center {
  max-width: $game-content-width-landscape;
  margin: 28px auto 0;
  padding: 0 1.7%;
}
