.results {
  position: relative;
  display: block;
  margin: 0 auto;

  h4 {
    text-align: center;
    color: #37474f;
    font-weight: 300;

    strong {
      font-weight: 500;
    }
  }

  strong a {
    font-weight: 700;
    text-decoration: none;

    &:hover {
      opacity: .5;
    }
  }

  h2, h4, h5, h6, p, subhead {
    color: #37474f;
  }
}

.crowdcompass-nav {
  list-style: none;
  direction: ltr;
  text-align: right;
  padding-right: 15px;

  > li {
    padding: 7px 0;
    display: inline-block;
    font-size: 16px;
    font-weight: 400;

    a {
      padding: 15px;
      color: #13487d;
      text-decoration: none;
    }
  }
}

.mg-resultspage {
  height: 100%;
  overflow: auto;

  form {
    padding-bottom: 10px;
  }

  .button[disabled] {
    opacity: .5;
    color: #FFF;
  }

  .mg-card-layout {
    float: left;
    margin: 20px;
    z-index: 1;
    background-color: #FFF;
    height: 465px;
    box-shadow: 0px 10px 15px -5px rgba(0,0,0,.2);
  }

  .mg-card-layout--banner .mg-card-layout--content {
    text-align: left; 
    label {
      font-size: 12px;
    }
  }

  .share-ssk .social-wrap {
    position: absolute;
    top: -23px;
    right: -8px;
    transition: .2s;
  }
}

.results-heart, 
.results-toughguy, 
.results-star-power, 
.results-personality-planner {
  position: relative;
  z-index: 1;
}

.results-heart, 
.results-toughguy {
  width: 50%;
}

.results-personality-planner {
  width: 100%;
  height: 100%;
  position: absolute;
  top: -1.5px;
  background-image: url('assets/images/planner-personality-img.png');
  background-size: cover;
}

.results-star-power {
  top: 12%;
  height: 75%;
}

.results-heart {
  top: 20%;
}

.results-toughguy {
  top: 10%;
}

.mg-results--circle {
  background-color: #FFF;
  position: relative;
  z-index: 1;
  border-radius: 50%;
  top: 25px;
  width: 150px;
  height: 150px;
  display: inline-block;
  box-shadow: 0px 1px 3px -1px rgba(0,0,0,.4);

  h2 {
    padding-top: 40px;
    font-weight: 900;
    font-size: 65px;
    line-height: .8;
  }

  span {
    font-weight: 400;
    font-size: 16px;
    line-height: 1;
  }
}

.mg-resultspage-1 .results {
  
  max-width: 600px;

  .mg-results--circle *, strong a {
    color: $level-two-color-dark;
  }

  .button, .ssk.share-button {
    background-color: $level-two-color-dark;
  }

  h4, .mg-card-layout--content strong {
    color: $level-one-color;
  }
}

.mg-resultspage-2 .results {
  
  max-width: 900px;

  .mg-results--circle *, strong a {
    color: $level-three-color-dark;
  }

  .button, .ssk.share-button {
    background-color: $level-three-color-dark;
  }

  h4, .mg-card-layout--content strong {
    color: $level-two-color;
  }
}

.mg-resultspage-3 .results {
  max-width: 1200px;

  .mg-results--circle *, strong a {
    color: $level-one-color-dark;
  }

  .button, .ssk.share-button {
    background-color: $level-one-color-dark;
  }

  h4, .mg-card-layout--content strong {
    color: $level-three-color;
  }
}
.mg-resultspage-1 .results,
.mg-resultspage-2 .results,
.mg-resultspage-3 .results {
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-height: 660px) {
  .mg-resultspage-1 .results,
  .mg-resultspage-2 .results,
  .mg-resultspage-3 .results {
    position: static;
    transform: translateY(0);
  }
}

@media screen and (max-width: 450px) {
  .results-section {
    float: left;
    width: 100%;
  }

  h4 {
    font-size: 25px;
  }
}

.share-ssk a {
  padding: 10px;
  border-radius: 50%;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, .3);
  margin: 0 2px;
}

.share-ssk .ssk:hover {
  transition: transform .15s;
  transform: scale(1.1);
  box-shadow: 0px 2px 6px rgba(0, 0, 0, .3);
}

.share-ssk .ssk-facebook::before {
  left: -3px;
}

.share-ssk .ssk:active {
  transition: transform .15s;
  box-shadow: 0px 0px 1px #000;
  transform: scale(.9);
}

.share-ssk .ssk.share-button {
  position: absolute;
  right: -13px;
  top: -25px;

  .clickable {
    position: absolute;
    width: 25px;
    height: 25px;
  }

  svg {
    width: 15px;
    margin: 5px;

    * {
      fill: #FFF;
    }

    &:after {
      content: ""; 
      position: absolute; 
      top: 0; 
      right: 0; 
      bottom: 0; 
      left: 0;
    }
  }
}

.share-ssk.share-open {
  .social-wrap {
    transition: .5s;
  }
  .social-wrap:nth-child(1) {
    transform: translateX(-165px);
  }
  .social-wrap:nth-child(2) {
    transform: translateX(-125px);
  }
  .social-wrap:nth-child(3) {
    transform: translateX(-85px);
  }
  .social-wrap:nth-child(4) {
    transform: translateX(-45px);
  }
}

