@import 'components';

$collapse-sidemenu-width: 1086px;
$sidemenu-width: 330px;
$game-content-width-landscape: 756px;
$game-content-width-portrait: 567px;
$nav-height: 66px;
$footer-height: 46px;
$level-one-color: #7b4cff;
$level-two-color: #00e575;
$level-three-color: #00e4ff;
$height-sans-content: $nav-height + $footer-height;

@import 'base';
@import 'modules';