@import 'components';

$collapse-sidemenu-width: 1086px;
$sidemenu-width: 330px;
$game-content-width-landscape: 756px;
$game-content-width-portrait: 567px;
$nav-height: 66px;
$footer-height: 46px;
$level-one-color: rgb(104, 42, 255);
$level-two-color: rgb(0, 229, 117);
$level-three-color: rgb(0, 228, 255);
$height-sans-content: $nav-height + $footer-height;

@import 'base';
@import 'modules';