* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  font-family: Roboto, sans-serif;
  color: #76838f;
  background-color: #263238;
}

.mg-logo {
  margin-top: 18px;
  height: 28px;
}

.mg-game {
  width: 100vw;
  height: 100vh;
}

.mg-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.mg-legal {
  color: #7a97a0;
  text-align: center;
  font-size: 11px;
}

a {
  color: #62a8ea;
  text-decoration: none;
  cursor: pointer;

  &:hover {
    color: #89bceb;
    text-decoration: underline;
  }
}

nav {
  height: $nav-height;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

footer {
  clear: both;
  width: 100%;
}
