.mg-logo {
  margin-top: 18px;
  height: 28px;
}

.mg-logo-svg {
  margin-top: 11px;
  margin-left: -23px;
  height: 35px;
}

.mg-game {
  width: 100vw;
  height: 100vh;
  line-height: 1.6;
}

.mg-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.mg-legal {
  color: #7a97a0;
  text-align: center;
  font-size: 11px;
}

a {
  color: #62a8ea;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #89bceb;
    text-decoration: underline;
  }
}

h1 {
  font-size: 112px;
  font-weight: 300;
  line-height: 1;
  letter-spacing: -.04em;
}

button, .button, h2, h3, h4, h5 {
  font-weight: 400;
}

h2, h3, h4 {
  margin: 0;
  padding-top: 10px;
}

h5, h6 {
  margin: 12px 0;
}

h6, strong {
  font-weight: 500;
}

h2 {
  font-size: 56px;
  letter-spacing: -.02em;
}

h3 {
  font-size: 45px;
}

h4 {
  font-size: 34px;
}

h5 {
  font-size: 24px;
}

h6 {
  font-size: 20px;
}

hr {    
  margin: 22px 0;
  border: 1px solid #37474f;
  border-bottom: 0;
}

subhead, p {
  font-weight: 300;
  line-height: 1.6;
}

subhead {
  font-size: 16px;
  display: inline-block;
  margin: 10px 0;
}

p {
  font-size: 14px;
}

caption {
  font-size: 12px;
}

.button[disabled], button[disabled] {
  cursor: not-allowed;
  background-color: #DDD;
  color: #AAA;
  filter: alpha(opacity=65);
  box-shadow: none;
  opacity: .65;
  pointer-events: none;
}

.button:hover, button:hover {
  background-color: #e5e5e5;
  border-color: #adadad;
  color: #333;
  text-decoration: none;
}

.button:active, button:active {
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.button, button {
  min-width: 88px;
  padding: 10px 14px;
  background: 0 0;
  background-color: #fff;
  outline: 0;
  outline-offset: 0;
  border: 0;
  border-radius: 2px;
  transition: all 0.15s ease-in-out;
  color: rgba(0, 0, 0, 0.87);
  display: inline-block;
  border-color: #ccc;
  text-decoration: none;
  margin-bottom: 0;
  user-select: none;
  appearance: button;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 1px 2px 0 rgba(0, 0, 0, 0.24);
}

.button, button, .button-behavior {
  cursor: pointer;
  user-select: none;
}

.button-inline {
  padding: 1px 10px;
  margin: 0 0 2px 2px;
  text-align: center;
}

.button-full {
  width: 100%;
}

button, .button {
  font-size: 14px;
  text-transformation: uppercase;
}

nav {
  height: $nav-height;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

footer {
  clear: both;
  width: 100%;
}
