<div class="mg-game" ng-controller="CardController" ng-cloak>
  <div class="screen-too-small">
    <p>Game disabled in Landscape Mode.  Turn your phone.</p>
  </div>
  <div ng-hide="user || query.level" class="mg-entry" ng-class="{'loggedin': userLoading}" >
    <div class="mg-logo--container">
      <div logo-svg class="mg-logo-svg" title="CrowdCompass" />
    </div>
    
    <div class="mg-entry--container">
      <div class="mg-entry--wave1" ng-class="{'loggedin': userLoading}"wave-bg-svg />
      <div class="mg-entry--wave2" ng-class="{'loggedin': userLoading}" wave-bg-two-svg />

      <div class="mg-entry--hero">
        <div box-svg class="mg-entry--box colorshift" ng-class="{'loggedin': userLoading}" />
        <div class="mg-entry--box-content" ng-class="{'loggedin': userLoading}">
          <h4 class="mg-top-title colorshift">The ultimate event pro</h4>
          <h2 class="mg-title colorshift">Memory Game</h2>
          <h5 class="mg-entry--title-desc colorshift">A card matching game for event pros, personalized for you.</h5>
          <div ng-hide="letsPlay" class="mg-entry--start">
            <p class="mg-entry--start-desc">Do you have what it takes to conquer all three levels and become the event pro memory champion of the universe?</p>
            <button ng-click="letsPlay = true">Let's Play</button>
          </div>
          <div ng-show="letsPlay" class="mg-entry--logins">
            <p class="mg-entry--logins-desc">Get a personalized experience. Sign in with social.</p>

            <div ng-hide="noSocial">
              <div class="mg-entry--login login-linkedin button-behavior" ng-click="social.linkedin()">
                <div class="mg-entry--icon-wrap">
                  <div linkedin-svg class="mg-entry--linkedin-icon mg-entry--icon"></div>
                </div>
                <div class="mg-entry--login-text">
                  <strong>LINKEDIN</strong>
                </div>
              </div>

              <div class="mg-entry--login login-facebook button-behavior" ng-click="social.facebook()">
                <div class="mg-entry--icon-wrap">
                  <div facebook-svg class="mg-entry--fb-icon mg-entry--icon" />
                </div>
                <div class="mg-entry--login-text">
                  <strong>FACEBOOK</strong>
                </div>
              </div>

              <p><a ng-click="noSocial = true">No thanks, enter name manually.</a></p>
            </div>
            <form class="mg-entry--manual" ng-show="noSocial" name="manualLoginForm">
              <div class="group mg-entry--login-manual">
                <input name="first" ng-model="firstName" required type="text" ng-class="{used: manualLoginForm.first.$viewValue}">
                <label for="first">First Name</label>
              </div>
              <div class="group mg-entry--login-manual">
                <input name="last" ng-model="lastName" required type="text" ng-class="{used: manualLoginForm.last.$viewValue}">
                <label for="last">Last Name</label>
              </div>
              <button ng-disabled="manualLoginForm.$invalid" ng-click="updateUser({firstName:firstName, lastName:lastName})">></button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="footer-content">
        <div class="footer-content--links">
          <ul>
            <li><a href="http://http://www.crowdcompass.com/privacy.shtml" target="_blank">Privacy</a></li>
            <li><a href="http://http://www.crowdcompass.com/terms-of-use.shtml" target="_blank">Terms of Use</a></li>
            <li><a href="http://http://www.crowdcompass.com/sitemap.shtml" target="_blank">Sitemap</a></li>
            <li>
            <p>© Copyright 2009-2015 CrowdCompass. All Rights Reserved.</p>
            </li>
          </ul>
        </div>
      </div>
    </footer>

  </div>
  <div ng-if="user || userLoading" class="mg-gamescreen">
    <span ng-show="user.picture && ((!game.results && currentLevel() === 3) || currentLevel() !== 3)" class="mg-main--avatar">
      <img ng-src="{{user.picture}}" class="level-{{currentLevel()}}" alt="...">
    </span>
    <nav class="mg-mobilenav">
      <img class="mg-logo" src="Campaigns/CC-03/assets/images/crowdcompass-brandmark-white.png" title="CrowdCompass">
      <a class="hamburger" ng-click="menuOpen = !menuOpen" ng-class="{'hamburger-close': menuOpen}">
        <span class="sr-only">Toggle navigation</span>
        <span class="hamburger-bar"></span>
      </a>
      <h1 ng-hide="game.results" class="progress-timer--mobile">{{ game.remaining() | date: 'mm:ss'}}</h1>
    </nav>
    <div class="mg-sidemenu" ng-class="{'mg-sidemenu--open': menuOpen}">
      <nav class="mg-darknav">
        <div logo-svg class="mg-logo-svg" title="CrowdCompass" />
      </nav>
      <div class="mg-sidemenu--content-wrapper">
        <div class="mg-sidemenu--content">
          <div class="mg-levels mg-level--{{currentLevel()}}">
            <h4 class="mg-top-title colorshift">The ultimate event pro</h4>
            <h2 class="mg-title colorshift">Memory Game</h2>
            <hr>
            <div class="mg-level" ng-click="currentLevel() !== 3 && playLevel(3)" ng-class="{'mg-levels--available': levelIsAvailable(3) && currentLevel() !== 3, 'mg-levels--current': currentLevel() === 3}">
              <span>3</span>
            </div>
            <p><span ng-show="currentLevel() === 3">The Day After</span></p>
            <div class="mg-level" ng-click="currentLevel() !== 2 && playLevel(2)" ng-class="{'mg-levels--available': levelIsAvailable(2) && currentLevel() !== 2, 'mg-levels--current': currentLevel() === 2}">
              <span>2</span>
            </div>
            <p><span ng-show="currentLevel() === 2">The Big Day</span></p>
            <div class="mg-level" ng-click="currentLevel() !== 1 && playLevel(1)" ng-class="{'mg-levels--available': levelIsAvailable(1) && currentLevel() !== 1, 'mg-levels--current': currentLevel() === 1}">
              <span>1</span>
            </div>
            <p><span ng-show="currentLevel() === 1">Event Eve</span></p>
          </div>
        </div>
      </div>
      <footer>
        <div class="ssk-group">
          <a ng-click="api.linkedinShare()" class="ssk ssk-linkedin"></a>
          <a ng-click="api.twitterShare()" class="ssk ssk-twitter"></a>
          <a ng-click="api.pinterestShare()" class="ssk ssk-pinterest"></a>
          <a ng-click="api.facebookShare()" class="ssk ssk-facebook"></a>
        </div>
      </footer>
    </div>
    <div class="mg-main" ng-class="{'mg-main--sidemenu-open': menuOpen}">
      <div class="fade"></div>
      <nav>
        <div ng-hide="game.results" class="navbar-center" ng-class="{'progress-danger': game.isCritical}">
          <h3 class="progress-timer">{{ game.remaining() | date: 'mm:ss'}}</h3>
          <div id="progress" class="progress-container"></div>
        </div>
        <ul ng-show="currentLevel() === 3 && game.results" class="crowdcompass-nav">
          <li>
            <a href="http://www.crowdcompass.com/features/" target="_blank">Features</a>
          </li>
          <li>
            <a href="http://www.crowdcompass.com/resources/" target="_blank">Resources</a>
          </li>
          <li>
            <a href="http://www.crowdcompass.com/clients.shtml" target="_blank">Our Clients</a>
          </li>
          <li>
            <a href="http://www.crowdcompass.com/about.shtml" target="_blank">About Us</a>
          </li>
        </ul>
      </nav>
      <section class="mg-content">
        <div class="mg-gameloading" ng-if="gameLoading"></div>
        <div ng-if="!game.results && !gameLoading" class="mg-game-wrapper">
          <div ng-show="currentLevel() === 1" class="mg-levelintro mg-resultspage-1 mg-card-layout" ng-class="{show: showIntro && !intro['1']}">
            <div class="mg-card-layout--banner">
              <div intro-card-bg-svg class="mg-card-layout--banner-bg"></div>
              <div class="mg-level mg-levels--current">
                <span>1</span>
              </div>
              <h2>Level 1</h2>
              <h3>Event Eve</h3>
            </div>
            <div class="mg-card-layout--content">
              <h6>
                Alright {{user.firstName}},
              </h6>
              <p>Here’s the situation. It’s the night before the biggest event of your year – and your event day toolkit has gone missing!</p>
              <p>Can you find all your essentials in <strong>35 seconds or less</strong>?</p>
              <p class="blue"><strong>Click any card to start the game.</strong></p>
              <button class="mg-play" ng-click="intro['1'] = true">GOT IT!</button>
            </div>
          </div>
          <div ng-show="currentLevel() === 2" class="mg-levelintro mg-resultspage-2 mg-card-layout" ng-class="{show: showIntro && !intro['2']}">
            <div class="mg-card-layout--banner">
              <div intro-card-bg-svg class="mg-card-layout--banner-bg"></div>
              <div class="mg-level mg-levels--current">
                <span>2</span>
              </div>
              <h2>Level 2</h2>
              <h3>The Big Day</h3>
            </div>
            <div class="mg-card-layout--content">
              <h6>
                Okay {{user.firstName}},
              </h6>
              <p><strong>Event day has finally arrived… And things are about to get real!</strong> With the pressure on, you’ve got less time to make decisions so you need to be on your game!</p>
              <p>Can you save the show in <strong>20 seconds</strong> or less?</p>
              <p class="blue"><strong>Click any card to start the game.</strong></p>
              <button class="mg-play" ng-click="intro['2'] = true">Got it!</button>
            </div>
          </div>
          <div ng-show="currentLevel() === 3" class="mg-levelintro mg-resultspage-3 mg-card-layout" ng-class="{show: showIntro && !intro['3']}">
            <div class="mg-card-layout--banner">
              <div intro-card-bg-svg class="mg-card-layout--banner-bg"></div>
              <div class="mg-level mg-levels--current">
                <span>3</span>
              </div>
              <h2>Level 3</h2>
              <h3>The Day After</h3>
            </div>
            <div class="mg-card-layout--content">
              <h6>
                Wow {{user.firstName}} {{user.lastName}}!
              </h6>
              <p><strong>Whew! The Event is Finally Over.</strong> You need a drink, a nap and an epic dance party just to unwind from that!</p>
              <p>Can you uncover your post-event stress relievers in <strong>10 seconds</strong> or less?</p>
              <p class="blue"><strong>Click any card to start the game.</strong></p>
              <button class="mg-play" ng-click="intro['3'] = true">Got it!</button>
            </div>
          </div>
          <div ng-if="user" ng-style="{'pointer-events': !intro[currentLevel()] ? 'none' : 'all'}" data-animation-in="bounceIn" class="card-container mg-center grid" ng-init="newGameIfNotStarted()" min-height hierarchical>
            <div class="grid-sizer"></div>
            <div ng-repeat="card in game.deck" class="card-wrapper" ng-class="{turncard: card.isFaceUp, bounce: card.celebrate}" ng-click="game.check(card)" data-target=".card-container">
              <div class="card" ng-style="{'background-image': 'url(Campaigns/CC-03/assets/images/' + game.cardFront + ')' }">
                <div class="back face flipped" ng-style="{'background-position': card.item.position, 'background-image': card.item.picture, 'background-size': card.item.picture ? 'cover' : ''}"></div>
              </div>
            </div>
            <div style="clear: both;"></div>
          </div>
        </div>
        
        <!-- LEVEL 1 RESULTS -->
        <div class="mg-resultspage mg-resultspage-1" ng-if="game.results && !resultsLoading && currentLevel() === 1">
          
          <!-- WIN -->
          <div ng-hide="game.results.missing" class="results">
            <h4 class="animated flip"><strong>Victory!</strong> Impressive {{user.firstName}}!</h4>
            <div class="mg-card-layout--container">

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div ng-show="user.workEmail" class="mg-card-layout--content"><br><br><br>
                    <a class="button" ng-click="playLevel(2)">Take on Level 2</a>
                  </div>
                  <div ng-hide="user.workEmail" class="mg-card-layout--content">
                    <form name="workEmailWinForm" class="group">
                      <input name="email" type="email" ng-pattern="/\./" autocomplete="off" ng-required ng-model="userWorkEmail"  ng-class="{used: workEmailWinForm.email.$viewValue}">
                      <span class="highlight"></span><span class="bar"></span>
                      <label>Work Email Address</label>
                    </form>
                    <label>
                      <input type="checkbox" ng-init="unlockedAssets = true" ng-model="unlockedAssets" checked> Yes, send me goodies!
                    </label>
                    <p></p>
                    <a class="button" ng-disabled="!userWorkEmail" ng-click="user.workEmail = userWorkEmail; user.unlockedAssets = unlockedAssets; playLevel(2)">Take on Level 2</a>
                  </div>
                  <div level-one-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div ng-hide="user.workEmail" class="mg-card-layout--content">
                  <h6>Unlock Level 2 & Other Awesome Goodies!</h6>
                  <p>Loving this game? Enter your email to unlock Level 2 and we’ll also send you more games, quizzes, exclusive research and other awesome goodies!</p>
                </div>
                <div ng-show="user.workEmail" class="mg-card-layout--content">
                  <h6>Are you ready to conquer Level 2?</h6>
                  <p>With only 20 seconds on the clock, Level 2 is no walk in the park! But we think you may what it takes... <strong>Find out now!</strong></p>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="mg-results--circle">
                    <h2>{{ game.results.time }}</h2>
                    <span>Seconds</span>
                  </div>
                  <div level-one-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>And it feels great to be a winner, right?</h6>
                  <p><strong>Share your speedy time and challenge other event pros to a game!</strong></p>
                  <div share-html></div>
                </div>
              </div>

            </div>
          </div>

          <!-- LOSE -->
          <div ng-show="game.results.missing" class="results">
            <header class="animated fadeInDown">
              <h4>Oh no {{user.firstName}}, <strong>time's up!</strong></h4>
            </header>
            <div class="mg-card-layout--container">

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div ng-show="user.workEmail" class="mg-card-layout--content"><br><br><br>
                    <a ng-show="user.workEmail" class="button" ng-click="newGame(5)">Use Booster</a>
                  </div>
                  <div ng-hide="user.workEmail" class="mg-card-layout--content">
                    <form name="workEmailLoseForm" class="group">
                      <input name="email" type="email" ng-pattern="/\./" autocomplete="off" ng-required ng-model="userWorkEmail"  ng-class="{used: workEmailLoseForm.email.$viewValue}">
                      <span class="highlight"></span><span class="bar"></span>
                      <label>Work Email Address</label>
                    </form>
                    <p></p>
                    <label>
                      <input type="checkbox" ng-init="unlockedAssets = true" ng-model="unlockedAssets" checked> Yes, send me goodies!
                    </label>
                    <p></p>
                    <a class="button" ng-disabled="!userWorkEmail" ng-click="user.workEmail = userWorkEmail; user.unlockedAssets = unlockedAssets; newGame(5)">Unlock Booster</a>
                  </div>
                  <div level-one-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div ng-hide="user.workEmail" class="mg-card-layout--content">
                  <h6>Unlock your 5 second time booster and win!</h6>
                  <p>Enter your email to <strong>play again with a 5 second booster!</strong> And as a bonus, we’ll send you more games, exclusive research, and other goodies!</p>
                </div>
                <div ng-show="user.workEmail" class="mg-card-layout--content">
                  <h6>You’ll get it this time!</h6>
                  <p><strong>Keep your 5 second time booster and play again for the win!</strong></p>
                  <p>And don’t forget to check your inbox! We sent you loads of goodies to keep the fun going!</p>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="mg-results--circle">
                    <h2>{{ game.results.missing }}</h2>
                    <span>Pair{{ game.results.missing === 1 ? '' : 's' }} Left</span>
                  </div>
                  <div level-one-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>You were so close!</h6>
                  <p>With only {{ game.results.missing }} pair{{ game.results.missing === 1 ? '' : 's' }} left to match, you can’t give up now! Unlock the time booster to win!</p>
                  <p><strong>Don’t forget to share this game with your friends!</strong></p>
                  <div share-html></div>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- LEVEL 2 RESULTS -->
        <div class="mg-resultspage mg-resultspage-2" ng-if="game.results && !resultsLoading && currentLevel() === 2">
        
          <!-- WIN -->
          <div ng-hide="game.results.missing" class="results">
            <h4 class="animated flip"><strong>Victory!</strong> Impressive {{user.firstName}}!</h4>
            <div class="mg-card-layout--container">

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div ng-show="user.companyName" class="mg-card-layout--content"><br><br><br>
                    <a class="button" ng-click="playLevel(3)">Take on Level 3</a>
                  </div>
                  <div ng-hide="user.companyName" class="mg-card-layout--content">
                    <br>
                    <form name="companyNameWinForm" class="group">
                      <input type="text" name="company" autocomplete="off" ng-required ng-model="userCompany" ng-class="{used: companyNameWinForm.company.$viewValue}">
                      <span class="highlight"></span><span class="bar"></span>
                      <label>Company Name</label>
                    </form>
                    <a class="button" ng-disabled="!userCompany" ng-click="user.companyName = userCompany; playLevel(3)">Take on Level 3</a>
                  </div>
                  <div level-two-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>Are you sure you’re ready for Level 3?</h6>
                  <p>Enter your company name to <strong>unlock Level 3!</strong> With a mere 10 seconds on the clock, you’ll have to move fast!</p>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="mg-results--circle">
                    <h2>{{ game.results.time }}</h2>
                    <span>Seconds</span>
                  </div>
                  <div level-two-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>Congrats! Ummm, you’re like, the fastest event pro, EVER.</h6>
                  <p>But now… Drumroll… It’s about to get tough. Meaning, we’re going to test you. It’s time to put on <strong>your big kid pants.</strong></p>
                  <div share-html></div>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="results-heart" heart-svg></div>
                  <div level-two-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>Loving Level 2? No problem, play again!</h6>
                  <p>We get it, we love it too! We’ll shuffle the deck so you can <strong>play again!</strong></p>
                  <strong><a ng-click="playLevel(2)">Play Level 2 Again ></a></strong>
                </div>
              </div>

            </div>
          </div>

          <!-- LOSE -->
          <div ng-show="game.results.missing" class="results">
            <header class="animated fadeInDown">
              <h4>Oh no {{user.firstName}}, <strong>time's up!</strong></h4>
            </header>
            <div class="mg-card-layout--container">

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div ng-show="user.companyName" class="mg-card-layout--content"><br><br><br>
                    <a class="button" ng-click="playLevel(3)">Use Booster</a>
                  </div>
                  <div ng-hide="user.companyName" class="mg-card-layout--content">
                    <br>
                    <form name="companyNameLoseForm" class="group">
                      <input type="text" name="company" autocomplete="off" ng-required ng-model="userCompany" ng-class="{used: companyNameLoseForm.company.$viewValue}">
                      <span class="highlight"></span><span class="bar"></span>
                      <label>Company Name</label>
                    </form>
                    <a class="button" ng-disabled="!userCompany" ng-click="user.companyName = userCompany; playLevel(3)">Unlock Booster</a>
                  </div>
                  <div level-two-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div ng-hide="user.companyName" class="mg-card-layout--content">
                  <h6>Unlock your 5 second time booster and win!</h6>
                  <p>Enter your email to <strong>play again with a 5 second booster!</strong> And as a bonus, we’ll send you more games, exclusive research, and other goodies!</p>
                </div>
                <div ng-show="user.companyName" class="mg-card-layout--content">
                  <h6>You’ll get it this time!</h6>
                  <p><strong>Keep your 5 second time booster and play again for the win!</strong></p>
                  <p>And don’t forget to check your inbox! We sent you loads of goodies to keep the fun going!</p>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="mg-results--circle">
                    <h2>{{ game.results.missing }}</h2>
                    <span>Pair{{ game.results.missing === 1 ? '' : 's' }} Left</span>
                  </div>
                  <div level-two-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>You were so close!</h6>
                  <p>With only {{ game.results.missing }} pair{{ game.results.missing === 1 ? '' : 's' }} left to match, you can’t give up now! Unlock the time booster to win!</p>
                  <p><strong>Don’t forget to share this game with your friends!</strong></p>
                  <div share-html></div>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="results-toughguy" toughguy-svg></div>
                  <div level-two-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>Nah, I’m gonna tough it out...</h6>
                  <p>Think you can handle it on your own? No problem! We’ll shuffle the deck and you can <strong>play again!</strong></p>
                  <strong><a ng-click="playLevel(2)">Play Level 2 Again ></a></strong>
                </div>
              </div>

            </div>
          </div>

        </div>

        <!-- LEVEL 3 RESULTS -->
        <div class="mg-resultspage mg-resultspage-3" ng-if="game.results && !resultsLoading && currentLevel() === 3">

          <!-- WIN -->
          <div ng-hide="game.results.missing" class="results">
            <header>
              <h4><span class="animated flip"><strong>Congratulations {{user.firstName}}!</strong> You did it!</span></h4>
            </header>
            <div class="mg-card-layout--container">

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="results-social-img"></div>
                  <div level-three-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>Find out if you’re you faster than your friends and colleagues!</h6>
                  <p>Ahh, sweet, sweet victory... But wait. <strong>Are you faster than your friends and colleagues?!</strong> It’s time to find out. Share this puppy with another human and let’s see if their memory is as good as yours!</p>
                  <div share-html></div>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="mg-results--circle">
                    <h2>{{ game.results.time }}</h2>
                    <span>Seconds</span>
                  </div>
                  <div level-three-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>You Just Conquered the Ultimate Game of Memory Skillz!</h6>
                  <p>But the fun doesn’t stop here! Play again to improve your time and <strong>stay tuned for additional card packs, and new features.</strong> In the meantime, play our other games below and make sure to check out the goodies we emailed you!</p>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="results-personality-planner"></div>
                  <div level-three-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>What’s YOUR Planner Personality?</h6>
                  <p><em>A Quiz by CrowdCompass</em></p>
                  <p>Which of the four “event planner personalities” describes you? <strong>Take the quiz to find out.</strong></p>
                  <strong><a target="_blank" href="http://www.crowdcompassquiz.com">Let's Play ></a></strong>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="results-star-power" star-power-svg></div>
                  <div level-three-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>What’s Your Mobile App Star Power?</h6>
                  <p><em>A Quiz by CrowdCompass</em></p>
                  <p>Ever wondered what attendees really think of your mobile event app? <strong>Take the quiz to find out.</strong></p>
                  <strong><a target="_blank" href="http://www.eventappstarpower.com">Take the Quiz ></a></strong>
                </div>
              </div>

            </div>
          </div>

          <!-- LOSE -->
          <div ng-show="game.results.missing" class="results">
            <header class="animated fadeInDown">
              <h4>Oh no {{user.firstName}}, <strong>time's up!</strong></h4>
            </header>

            <div class="mg-card-layout--container">

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="mg-card-layout--content"><br><br><br>
                    <a class="button" ng-click="newGame(5)">Use Booster</a>
                  </div>
                  <div level-three-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>You’ll get it this time!</h6>
                  <p><strong>Keep your 5 second time booster and play again for the win!</strong></p>
                  <p>And don’t forget to check your inbox! We sent you loads of goodies to keep the fun going!</p>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="mg-results--circle">
                    <h2>{{ game.results.missing }}</h2>
                    <span>Pair{{ game.results.missing === 1 ? '' : 's' }} Left</span>
                  </div>
                  <div level-three-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>You were so close!</h6>
                  <p>With only {{ game.results.missing }} pair{{ game.results.missing === 1 ? '' : 's' }} left to match, you can’t give up now! Unlock the time booster to win!</p>
                  <p><strong>Don’t forget to share this game with your friends!</strong></p>
                  <div share-html></div>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="results-personality-planner"></div>
                  <div level-three-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>What’s YOUR Planner Personality?</h6>
                  <p><em>A Quiz by CrowdCompass</em></p>
                  <p>Which of the four “event planner personalities” describes you? <strong>Take the quiz to find out.</strong></p>
                  <strong><a target="_blank" href="http://www.crowdcompassquiz.com">Let's Play ></a></strong>
                </div>
              </div>

              <div class="mg-card-layout">
                <div class="mg-card-layout--banner">
                  <div class="results-star-power" star-power-svg></div>
                  <div level-three-bg-svg class="mg-card-layout--banner-bg"></div>
                </div>
                <div class="mg-card-layout--content">
                  <h6>What’s Your Mobile App Star Power?</h6>
                  <p><em>A Quiz by CrowdCompass</em></p>
                  <p>Ever wondered what attendees really think of your mobile event app? <strong>Take the quiz to find out.</strong></p>
                  <strong><a target="_blank" href="http://www.eventappstarpower.com">Take the Quiz ></a></strong>
                </div>
              </div>

            </div>
          </div>

        </div>
      </section>
      <footer class="mg-legal">
        <span>© Copyright 2009-2016 <a href="http://www.crowdcompass.com">CrowdCompass</a>. All Rights Reserved.</span>
      </footer>
    </div>
  </div>
</div>