
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-weight: 300;
  font-size: 14px;
  line-height: 1.6;
  color: #76838f;
  font-family: Roboto, sans-serif;
}

.mg-game {
  width: 100vw;
  height: 100vh;
  font-family: Roboto, sans-serif;
  font-weight: 300;
  background-color: #f1f4f5;
}

.mg-center {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  margin: 0 auto;
}

.mg-content {
  position: relative;
  padding-top: $nav-height;
  overflow: auto;
  background-color: #f1f4f5;
  height: calc(100vh - #{$footer-height});
  z-index: 1;
}

nav {
  height: $nav-height;
  box-shadow: 0 2px 4px rgba(0, 0, 0, .08);
}

.mg-mobilenav {
  padding-left: 30px;
  background-color: #263238;
  position: fixed;
  display: none;
  top: 0;
  z-index: 100;
  width: 100%;
}

.fade {
  position: fixed;
  pointer-events: none;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000;
  opacity: 0;
  z-index: 3;
}

.mg-main--avatar {
  width: 30px;
  position: fixed;
  top: 18px;
  right: 15px;
  z-index: 101;

  img {
    max-width: 100%;
    height: auto;
    border-radius: 1000px;
  }
}

footer {
  clear: both;
  width: 100%;
}

.mg-main {
  height: 100%;
  margin-left: $sidemenu-width;

  nav {
    background-color: #fff;
    position: fixed;
    padding: 0 50px;
    z-index: 2;
    top: 0;
    right: 0;
    left: $sidemenu-width;
  }

  footer {
    height: 46px;
    padding: 15px 0;
    border-top: 1px solid #e4eaec;
    background-color: #fff;
    text-align: center;
    font-size: 11px;
    color: #7a97a0;

    a {
      color: #62a8ea;
      text-decoration: none;

      &:hover {
        color: #89bceb;
        text-decoration: underline;
      }
    }
  }
}

@media screen and (max-width: $collapse-sidemenu-width) {
  .mg-mobilenav {
    display: block;
  }

  .mg-sidemenu {
    transform: translateX(-$sidemenu-width);
    transition: .25s ease-out;
  }

  .mg-sidemenu--open {
    transform: translateX(0px);
    box-shadow: 14px 4px 14px rgba(0, 0, 0, .2);
    transition: .25s ease-out;
  }

  .mg-main {
    margin-left: 0;
    transition: .25s ease-out;
    box-shadow: 0 0 134px rgba(0, 0, 0, .8);

    nav {
      visibility: hidden;
    }

    .fade {
      transition: .25s ease-out;
    }
  }

  .mg-main--sidemenu-open {
    transform: scale(.98);
    transition: .25s ease-out;
    pointer-events: none;

    .fade {
      transition: .25s ease-out;
      pointer-events: all;
      display: initial;
      opacity: .15;
    }
  }
}

.navbar-center {
  max-width: $game-content-width-landscape;
  margin: 28px auto 0;
  padding: 0 1.7%;
}

.card-container {
  max-width: $game-content-width-landscape;
  max-height: $game-content-width-portrait;
  margin: auto;
}
