@font-face {
  font-family: 'social-share-kit';
  src: url('assets/fonts/social-share-kit.eot');
  src: url('assets/fonts/social-share-kit.eot?#iefix') format('embedded-opentype'), url('assets/fonts/social-share-kit.woff') format('woff'), url('assets/fonts/social-share-kit.ttf') format('truetype'), url('assets/fonts/social-share-kit.svg#social-share-kit') format('svg');
  font-weight: normal;
  font-style: normal
}

.ssk:before {
  display: inline-block;
  font-family: "social-share-kit" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.ssk-facebook:before {
  content: "a";
  text-indent: 4px;
  margin-right: -4px
}

.ssk-twitter:before {
  content: "b"
}

.ssk-google-plus:before {
  content: "c"
}

.ssk-pinterest:before {
  content: "e"
}

.ssk-linkedin:before {
  content: "g"
}

.ssk {
  background-color: #757575;
  color: white;
  display: inline-block;
  font-size: 22px;
  line-height: 1px;
  margin-right: 2px;
  margin-bottom: 2px;
  padding: 7px;
  text-align: center;
  text-decoration: none;
  transition: background-color .1s;
}

.ssk:before,
.ssk .glyphicon,
.ssk .fa {
  position: relative;
  font-size: 22px;
  top: 0;
  vertical-align: middle
}

.ssk:last-child {
  margin-right: 0
}

.ssk:hover {
  background-color: #424242
}

.ssk:hover,
.ssk:focus {
  color: #fff;
  text-decoration: none
}

.ssk-group {
  font-size: 0
}

.ssk-facebook {
  background-color: #255c95
}

.ssk-twitter {
  background-color: #00b4e0
}

.ssk-facebook:hover {
  background-color: #1b436c
}

.ssk-twitter:hover {
  background-color: #008bad
}

.ssk-google-plus {
  background-color: #f1403a
}

.ssk-google-plus:hover {
  background-color: #e81810
}

.ssk-pinterest {
  background-color: #cb2027
}

.ssk-linkedin {
  background-color: #1c87bd
}

.ssk-pinterest:hover {
  background-color: #9f191f
}

.ssk-linkedin:hover {
  background-color: #156791
}

footer .ssk-group {
  width: 100%;
}

footer .ssk {
  background-color: #2d3b42;
  width: 25%;
  padding: 15px 0;
  margin: 0;
  color: rgba(163,175,183,.9);
}
.ssk::before {
  font-size: 16px;
}

.share-ssk a {
  padding: 10px;
  border-radius: 25px;
  margin: 0 2px 15px;
}

